.BIG{

}

.SMALL {
    width: 230px;

    .imageWrapper {
        width: 200px;
        height: 200px;
        position: relative;
    }

    .img {
        width: 200px;
        height: 200px;
    }

    .date {
        position: absolute;
        right: 0;
        top: 0;
    }

    .infoWrapper {
        display: flex;
        align-items: center;
        margin-top: 8px;
    }

    .types p {
        width: 115px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .views {
        margin-left: auto;
        margin-right: 8px;
    }

    .title {
        margin-top: 8px;
    }

    .title p {
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
