.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    // transform: translateX(300px);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.5s;
    
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.switchers {
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: center;
    width: 100%;

}

.lang{
    margin-left: 28px;
}