.Button {
    cursor: pointer;
    color: var(--primary-color);
}

.clear {
    padding: 0;
    border: none;
    background-color: none;
    outline: none;
}

.outline {
    padding: 10px 15px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}
