.Wrapper {
    display: flex;
    width: 500px;
}

.label {
    margin-right: 5px;
}

.select {
    background: none;
    outline: none;
    color: var(--primary-color);
    padding: 2px 10px;
    border: 1px solid var(--primary-color);
}

.option {
    color: var(--inverted-primary-color);
    background: var(--inverted-bg-color);
}
