.AppLink {
    color: var(--primary-color);

    &:hover {
        opacity: 0.6;
    }
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.red {
    color: red;
}
